---
import Base from "../layouts/StyledBase.astro";
---

<Base>
	<p>i'm 22. i like existing as non-existence. therian and plural.</p>
	<p>recently moved hosts and comepletely rebuilding. lots of stuff is missing.</p>
</Base>