---
import Base from "../layouts/StyledBase.astro";
---

<Base title="links">
    <p>if it's not linked here it's not me. figure it out.</p>
	<ul>
        <li>works</li>
        <li class="ml-4"><a href="http://sleptonce.dreamwidth.org/">dreamwidth</a></li>
        <li class="ml-4"><a href="http://youtube.com/@sleptonce">youtube</a></li>
        <li class="ml-4"><a href="https://sleptonce.tumblr.com/">tumblr</a></li>
        <li class="ml-4"><a href="https://sleptcraft.tumblr.com/">world building tumblr</a></li>
        <li class="ml-4"><a href="https://codeberg.org/sleptonce">codeberg</a></li>
        <li class="ml-4"><a href="https://soundcloud.com/sleptonce">soundcloud</a></li>
        <li class="ml-4"><a href="https://sleptonce.bandcamp.com/">bandcamp</a></li>
        <li class="ml-4"><a href="https://soundcloud.com/sleptonce">soundcloud</a></li>
        <li class="ml-4"><a href="https://archiveofourown.org/users/dry_hands">ao3</a></li>
        <li>contact</li>
        <li class="ml-4"><a href="mailto:sleptonce@sleptonce.com">email</a></li>
        <li class="ml-4"><a href="tox:096762856F5D0CEF8A34655818B3022A7A1A5223606B61FCDAD592075EFF8C5E290C5C973BE3">tox</a> (<a href="https://tox.chat/">get tox</a>)</li>
    </ul>

    <a href="https://codeberg.org/sleptonce/site">source for this site</a>
</Base>