<footer class="mt-5 border-t-[1px] border-current px-5 pt-2">
    <p><a href="#main" class="text-neutral-500">back to top</a></p>
    <div class="text-neutral-500 text-center">
        <p xmlns:cc="http://creativecommons.org/ns#">
            <a rel="cc:attributionURL" href=`https://sleptonce.com${Astro.url.pathname}`>This work</a> by
            <span property="cc:attributionName">sleptonce</span> is licensed under
            <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0
                <img class="ml-[3px] inline-block align-text-bottom h-[22px]" alt="creative commons icon" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img class="ml-[3px] inline-block align-text-bottom h-[22px]" alt="with attribution/credit icon" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img class="ml-[3px] inline-block align-text-bottom h-[22px]" alt="non-commercial icon" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1">
            </a>
        </p>
    </div>
</footer>