<header class="mb-5 flex border-b-[1px] border-b-current px-5">
    <h2 class="grow"><a href="/">sleptonce</a></h2>
    <nav aria-labelledby="nav-label">
        <h2 id="nav-label" class="sr-only">main links</h2>
        <ul class="flex flex-row gap-1.5 list-none">
            <li><a href="/writing">writing</a></li>
            <li><a href="/links">links</a></li>
        </ul>
    </nav>
</header>