---
import { CollectionEntry, getCollection } from 'astro:content';

import Base from '../../../layouts/StyledBase.astro';

export async function getStaticPaths({ paginate }) {
	const echoes = (await getCollection('writing', 
        ({ id }) => { return id.startsWith('omnibus/') && id.indexOf('plaintext') == -1; }))
        .sort((a: CollectionEntry<'writing'>, b: CollectionEntry<'writing'>) => {
            return a.data.order - b.data.order; 
        })
        .map((post: CollectionEntry<'writing'>) => ({
		params: { slug: post.slug },
		props: post,
	}));

	return paginate(echoes, {pageSize: 1});
}
type Props = CollectionEntry<'writing'>;

const { page } = Astro.props;
console.log(page.data[0].props.data.title);

const { Content } = await page.data[0].props.render();
---

<Base {...page.data[0].props.data}>
	<Content />
	{page.url.prev ? <a href={(page.url.prev).toString()}>backwards</a> : null}
	{page.url.prev ? ' | ' : null}
	<a href="/writing/omnibus">contents</a>
	{page.url.next ? ' | ' : null}
	{page.url.next ? <a href={page.url.next}>forwards</a> : null}
</Base>
