---
import Base from "../../../layouts/StyledBase.astro";

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const echoes = (await getCollection('writing', 
    ({ id }) => { return id.startsWith('omnibus/'); }))
    .sort((a: CollectionEntry<'writing'>, b: CollectionEntry<'writing'>) => {
        return a.data.order - b.data.order; 
    });
---

<Base title="OMNIBUS" description="">
    <details class="border-[1px] border-current px-2 py-1">
        <summary class="font-bold">Content warnings for all echoes</summary>
        <ul class="list-disc ml-[30px]">
            <li>Religious themes, specifically centered on Christian imagery</li>
            <li>Hunger as an emotion</li>
            <li>Non-explicit intimacy (not inherently sexual)</li>
            <li>Death</li>
        </ul>
    </details>

    <dl>
        <dt class="font-bold">unit</dt>
        <dd class="ml-5">cluster of behavior and thought patterns.</dd>
        <dt class="font-bold">self</dt>
        <dd class="ml-5">a unit with a sense of self</dd>
        <dt class="font-bold">echo</dt>
        <dd class="ml-5">previous thought patterns and behaviors.</dd>
        <dt class="font-bold">the self</dt>
        <dd class="ml-5">the encompassment of selves, uniting thread between selves, units, echos, etc.</dd>
        <dt class="font-bold">the rest</dt>
        <dd class="ml-5">existence outside of the self, beyond the self.</dd>
    </dl>

    <hr />

    <nav aria-labelledby="echoes-title">
        <h2 id="echoes-title" class="text-lg">ECHOES</h2>
        <ul>
            {echoes.map((e: CollectionEntry<'writing'>) => 
                (<li><a href={`${e.data.order}`}>{e.data.title}</a></li>)
            )}
        </ul>
    </nav>
</Base>