@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500 underline dark:text-blue-200;
  }
  a:visited {
    @apply text-purple-800 dark:text-purple-300;
  }
  a:hover,
  a:active {
    @apply text-orange-400 cursor-pointer dark:text-orange-200;
  }
  h1.hero {
    @apply mb-2 border-b-[1px] border-neutral-400 text-xl;
  }
  hr {
    @apply mt-2 mb-2 border-neutral-400;
  }
  p {
    @apply mb-5;
  }
}
