---
interface Props {
	title?: string;
	description?: string;
}

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../base.css';

const {title, description } = Astro.props
---

<html lang="en-US">
	<head>
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta name="og:title" content={title} />
		<meta name="og:type" content="website" />
		<meta name="og:url" content={Astro.url} />
		{description && <meta name="og:description" content={description} />}

		<title>sleptonce {title && `| ${title}`}</title>
	</head>
	<body>
		<a href="#main">skip to main content</a>
		
		<Header/>
		
		<main id="main">
			{title && <h1 class="">{title}</h1>}
			<slot/>
		</main>

		<Footer/>
	</body>
</html>