---
interface Props {
	title?: string;
	description?: string;
}

import Noscript from '../components/Noscript.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../base.css';

const {title, description } = Astro.props
---

<html lang="en-US">
	<head>
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta name="og:title" content={title} />
		<meta name="og:type" content="website" />
		<meta name="og:url" content={Astro.url} />
		{description && <meta name="og:description" content={description} />}

		<title>sleptonce {title && `| ${title}`}</title>
	</head>
	<body class="w-screen min-h-screen font-serif bg-neutral-200 dark:bg-black">
		<div class="flex flex-col px-2 py-5 m-auto w-full min-h-screen bg-neutral-50 md:w-7/12 text-neutral-950 dark:bg-neutral-800 dark:text-neutral-200">
			<a href="#main" class="sr-only">skip to main content</a>
			
			<Noscript/>

			<Header/>
			
			<main id="main" class="px-2 md:px-10 grow">
				{title && <h1 class="hero">{title}</h1>}
				<slot/>
			</main>

			<Footer/>
		</div>
	</body>
</html>