---
import { CollectionEntry, getCollection } from 'astro:content';
import Base from '../../layouts/StyledBase.astro';

export async function getStaticPaths() {
	const posts = await getCollection('writing'
		, ({ id }) => { return !id.startsWith('omnibus/'); }
		);
	return posts.map((post: CollectionEntry<'writing'>) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'writing'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Base {...post.data}>
	<Content />
</Base>
