---
import Base from "../../layouts/StyledBase.astro";

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const proses = (await getCollection('writing', ({id}) => { return !id.startsWith('omnibus/') && !id.startsWith('plaintext/'); }));
---

<Base title="writing">
    <a class="font-bold" href="/writing/omnibus">omnibus</a>
    <p class="ml-2">handmade metaself</p>

    <nav aria-labelledby="proses-title">
        <h2 id="proses-title" class="text-lg">miscellaneous prose</h2>
        <ul>
            {proses.map((p: CollectionEntry<'writing'>) => (
                <li class="font-bold"><a href=`/writing/${p.slug}`>{p.data.title}</a></li>
                <li class="ml-2">{p.data.description}</li>
                )
            )}
        </ul>
    </nav>
</Base>