---
import Base from "../../layouts/Journal.astro";
---
<Base title="Fadia Arif" description="Vintage Story RP information">
    <p>(Last updated: 2024/02/25)</p>

    <nav aria-labelledby="toc-title">
        <h1 id="toc-title" class="text-xl font-bold">Contents</h1>
        <ul class="list-disc ml-[30px]">
            <li><a href="#appearance">Current appearance</a></li>
            <li><a href="#relations">Relations</a>
                <ul class="list-disc ml-[30px]">
                    <li><a href="#aquaintances">Aquaintances</a></li>
                </ul>
            </li>
            <li><a href="#family">Family</a></li>
        </ul>
    </nav>
    
    <hr/>

    <h1 id="appearance" class="text-xl font-bold">Current appearance</h1>
    <p>Fadia is about 5'9 (1.75 m). She has tan skin and dark brown tightly 
        curled hair (somewhere between 3b and 3c). She has mid-tone grayish 
        brown eyes. Fadia often fidgets with her hands. She is well put 
        together. Her voice is deep and somewhat nasally, which lifts the 
        pitch. She moves with confidence, though it seems recently gained. 
        When she sits she typically hunches her back slightly.</p>
    <p>As Fadia is used to walking and standing for some time, she is somewhat 
        fit, though not athletic. Fadia's expression and movement is controlled 
        to a great degree. She is able to conceal things like mild surprise 
        usually.</p>
    
    <hr/>
    
    <h1 id="relations" class="text-xl font-bold">Relations</h1>

    <blockquote>
        <ul>
            <li>Parenthesis indicate Fadia's assumed or known profession for a 
                person.</li>
            <li>* - Fadia cannot recall or does not know their name.</li>
            <li>† - Fadia doesn't know or remember their appearance.</li>
        </ul>
    </blockquote>
    
    <br>

    <h2 class="text-lg font-bold">Jiahao (Potter)</h2>
    <p>Tobias' other lover. Fadia keeps upsetting them on accident and feels 
        bad about it.</p>
    <p>Fadia feels awful about upsetting Jiahao enough to the point that they 
        think she hates them. She's not sure why they believe that or what 
        she's done wrong in their conversations, but she would like to try and 
        make it up to them.</p>

    <h2 class="text-lg font-bold">Gavriella Armani (Archaeologist)</h2>
    <p>Seems to be a fellow academic! Gavriella showed Fadia her office and the 
        things she's discovered so far, which Fadia is quite interested in.</p>
        
    <p>Gavriella assisted Fadia in finding Jiahao when they had ran away from 
        her, as well as briefly leaving her stranded in the cave they found 
        them in.</p>

    <h2 class="text-lg font-bold">Kaira (*) (Unsure)</h2>
    <p>Briefly met when Fadia arrived. Kaira shouted at her while they were 
        trying to find Jia after running off, as well as throwing "some type of 
        bug" at her. Fadia isn't sure of what to think of her.</p>

    <h2 class="text-lg font-bold">Tobias (Guardsman)</h2>
    <p>The person who showed Audric and her around the settlement. Apparently 
        has two lovers.</p>

    <h2 class="text-lg font-bold">Audric Wolfgang (Miner)</h2>
    <p>Fadia's fellow arrival group member. She recognizes his apparent 
        kindness and generosity, but is put off by his (in Fadia's eyes) 
        unpolite behavior.</p>

    <h2 class="text-lg font-bold">Sirius (Butcher)</h2>
    <p>Fellow Saint-Antoinite. Made sausage and gave some to her. Suggested 
        that she continue to draw to pass the time.</p>

    <h2 class="text-lg font-bold">Dupin (Leatherworker, political 
        figure?)</h2>
    <p>Seemingly important, given that he has his own office in the town hall. 
        Owns a leatherworking store.</p>

    <h2 class="text-lg font-bold">Tyrian Segal the Third (Unsure, perhaps 
        something with dye or hair?)</h2>
    <p>One of Tobias' lovers. Seems polite and well-spoken.</p>

    <h2 class="text-lg font-bold">Oksurn (†) (Farmer)</h2>
    <p>Lent Fadia a fur coat.

    <h2 class="text-lg font-bold">Keani (*†) (Toolsmith)</h2>
    <p>Provided Fadia some directions.</p>

    <h2 id="aquaintances" class="text-lg font-bold">People Fadia has met or 
        heard of</h2>

    <ul class="list-disc ml-[30px]">
        <li>Nicolas (*†) (Engineer and guardsman)</li>
        <li>Calliope (Baker)</li>
        <li>Ari (Cook)</li>
        <li>Mollie (†) (Cook)</li>
        <li>Lambert (†) (Builds?)</li>
        <li>Rowan (*) (Unsure)</li>
    </ul>

    <hr/>

    <h1 id="family" class="text-xl font-bold">Family</h1>

    <h2 class="text-lg font-bold">Shahla Arif</h2>
    <p>Fadia's mother.</p>

    <h2 class="text-lg font-bold">Awn Arif (formerly Awn Syed)</h2>
    <p>Fadia's father. Fadia's father. Previously the heir to a mercantile 
        company headed in Ledenon, disowned after his marriage to Shahla. Took 
        Fadia's mother's name in attempts to avoid any potential reputation 
        following Fadia herself. Began working on establishing a mercantile 
        company in Ardelaine after immigrating.</p>

    <p>Encouraged Fadia's interest in mathematics and cartography because Fadia 
        was intended to take over the business. Does not approve of her having 
        left on the expansion.</p>
</Base>