---
import { CollectionEntry, getCollection } from 'astro:content';

import Base from '../../../layouts/Journal.astro';

export async function getStaticPaths({ paginate }) {
	const entries = (await getCollection('vintage_story', 
        ({ id }) => { return id }))
        .map((post: CollectionEntry<'vintage_story'>) => ({
		params: { slug: post.slug },
		props: post,
	}));

	return paginate(entries, {pageSize: 1});
}
type Props = CollectionEntry<'vintage_story'>;

const { page } = Astro.props;
console.log(page.data[0].props.data.title);

const { Content } = await page.data[0].props.render();
---

<Base {...page.data[0].props.data}>
	<Content />
	{page.url.prev ? <a href={(page.url.prev).toString()}>last entry</a> : null}
	{page.url.prev ? ' | ' : null}
	<a href="/vintage_story/journal">back to cover</a>
	{page.url.next ? ' | ' : null}
	{page.url.next ? <a href={page.url.next}>next entry</a> : null}
</Base>
