---
import Base from "../../../layouts/Journal.astro";

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const entries = (await getCollection('vintage_story'))
    .sort((a: CollectionEntry<'vintage_story'>, b: CollectionEntry<'vintage_story'>) => {
        return a.data.order - b.data.order; 
    });
---
<Base title="Fadia's Journal" description="Fadia Arif's Journal">
    <p>(Last updated: 2024/02/25)</p>

    <p>This is a naturally saddle colored leather-bound journal. The spine is still firm, though a bit worn. On the inside cover, written in slightly faded neat penmanship is "Fadia Arif."</p>

    <noscript><p>Random entry requires JS, sorry!</p></noscript>
    <span id="random-page"></span>
    <p><a href="/vintage_story/journal/1">First entry</a></p>

    <nav aria-labelledby="entries-title">
        <h2 id="entries-title" class="text-lg">All entries in order</h2>
        <ul class="list-decimal ml-[30px]">
            {entries.map((p: CollectionEntry<'vintage_story'>) => (
                <li><a href=`/vintage_story/journal/${p.data.order}`>{p.data.title}</a></li>
                )
            )}
        </ul>
    </nav>
</Base>

<script>
function RandomJournal() {
    return Math.floor(Math.random() * 10) + 1;
}

const container = document.getElementById('random-page');

const a = document.createElement('a');
a.setAttribute('href', `journal/${RandomJournal()}`);
a.innerText = "Random entry";

const p = document.createElement('p');
p.appendChild(a);

container?.appendChild(p);
</script>